body {
    overflow-y: scroll;
}

textarea {
    font: 16px/1 monospace;
    width: 100%;
    height: 300px;
    word-break: keep-all;
    border: 2px solid silver;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 1.5em;
}

.CodeMirror {
    font: 16px/1 monospace;
    width: 100%;
    height: 300px;
    word-break: keep-all;
    border: 2px solid silver;
    border-radius: 5px;
    margin-bottom: 1.5em;
    background-color: #f6f6f6;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
}

.CodeMirror[data-valid=false]:after{
    content: 'Invalid';
}

.CodeMirror-gutters {
    min-width: 40px;
    text-align: right;
}

#valid{
    visibility: hidden;
    margin-top: -1.6em;
    display: block;
    color: red;
    font-size: .7em;
}

#toggle {
    font-size: .7em;
}

section h2 {
    font-size: 1em;
    font-weight: bold;
    display: inline-block;
    margin: 0;
}

h2.false {
    color: red;
}

h2.true {
    color: green;
}

output {
    font-size: .8em;
}

    output.true {
        color: green;
    }

    output dl {
        width: 100%;
        overflow: hidden;
    }

    output dd {
        float: left;
        width: 150px;
        margin: 0;
        clear: both;
    }

        output dd:after {
            content: ':';
        }

    output dt:first-of-type {
        font-weight: bold;
    }

    output dt {
        float: left;
        color: red;
    }

#json.true {
    border-color: green;
}

#json.false {
    border-color: red;
}
