body {
    font: 1.3em/1.5 'Century Gothic', Verdana, Geneva, 'DejaVu Sans', sans-serif;
    margin: 0;
    -ms-text-size-adjust: 120%;
}

img {
    max-width: 100%;
    height: auto;
    border: none;
}

header, #main {
    margin: 1em auto;
    max-width: 950px;
    padding: 0 1em;
}

    header h1 {
        margin: 0;
        font-size: 2.5em;
    }

    header p {
        margin: 0;
        font-size: 1.5em;
    }

    header aside {
        position: absolute;
        top: 0;
        right: 0;
        border: 0;
    }

    #main article {
        overflow: hidden;
        margin-top: 1.5em;
    }

        #main article p:first-child {
            margin: 0;
        }

        #main article:first-child h2 {
            font-size: 1em;
            font-weight: normal;
        }

        #main article img {
            margin-bottom: 1em;
        }

            #main article img.left {
                float: left;
                margin-right: 2em;
            }

            #main article img.right {
                float: right;
                margin-left: 2em;
            }

#schemalist {
    max-height: 0;
    -moz-transition: max-height 1.5s ease-in;
    -o-transition: max-height 1.5s ease-in;
    -webkit-transition: max-height 1.5s ease-in;
    transition: max-height 1.5s ease-in;
    width: 100%;
}

    #schemalist ul {
        -moz-column-width: 300px;
        -webkit-column-width: 300px;
        column-width: 300px;
        -moz-column-gap: 1em;
        -webkit-column-gap: 1em;
        column-gap: 1em;
        padding: 0;
        list-style: none;
    }

    #schemalist li a {
        color: dodgerblue;
        background: url(/img/json-icon.png) no-repeat left 6px;
        padding-left: 25px;
    }

footer {
    background-color: darkslategray;
    color: white;
    text-align: center;
    font-size: .7em;
    margin-top: 5em;
    padding: 2em 0;
    width: 100%;
}

    footer a {
        color: white;
    }

    footer ul li{
        display: inline-block;
    }

    footer ul li:not(:last-child):after{
        content: ' | '
    }

@media screen and (max-width:800px) {
    @-ms-viewport {
        width: 690px;
    }
}

@media screen and (max-width:400px) {
    aside {
        display: none;
    }

    @-ms-viewport {
        width: 400px;
    }
}
