body {
    overflow-y: scroll;
}

.test {
    min-height: 600px;
}

    .test ul {
        list-style: none;
        padding: 0;
    }

    .test > ul {
        -moz-column-width: 300px;
        -webkit-column-width: 300px;
        column-width: 300px;
    }

    .test ul ul li:nth-child(2) a {
    }

    .test ul ul {
        -webkit-column-break-inside: avoid;
        break-inside: avoid-column;
        page-break-inside: avoid;
        margin-bottom: 1em;
    }

    .test ul li:not(:first-child) {
        padding-left: .5em;
        font-size: .9em;
    }

    .test ul > li:first-child {
        font-weight: bold;
    }

    .test span {
        display: block;
        margin: 0 0 0 1em;
        font-size: .8em;
        color: black;
    }

.true, .true a {
    color: green;
}

    .true:before {
        content: '✔ ';
    }

.false, .false a {
    color: red;
}

    .false:before {
        content: '✘ ';
    }

#recap {
    display: inline;
}

progress {
    width: 100%;
    background: #f1f1f1;
    color: green;
    border: none;
    height: 15px;
}

    progress::-moz-progress-bar {
        background: green;
    }

    progress::-webkit-progress-bar {
        background: #f1f1f1;
    }
